<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fleischgarten</title>
    <meta name="author" content="John Cena">
    <meta name="description" content="BING CHILING!">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="//assetsimg/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/assets/img/favicon-256x256.png">

    <!--<meta property="og:title" content="Jan Straßburgers Homepage">
    <meta property="og:site_name" content="Jan Straßburgers Homepage">
    <meta property="og:url" content="https://strassburger.org/">
    <meta property="og:description" content="Archiv - Meine Homepage mit meinen Projekten, wie OktoBot, KartoffelBot oder KartoffelMC und Kontaktmöglichkeiten.">
    <meta property="og:type" content="website">-->
    <meta property="og:image" content="/assets/img/banner.png">

    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
    <%- include("partials/nav.ejs") %>

    <main>
        <div class="section">
            <h2>Einleitende Worte des Visionärs John Cena</h2>
            <div class="leftrightwrapper">
                <div class="left">
                    <img src="/assets/img/areyousureaboutthat.png" alt="Are you sure about that?" title="Are you sure about that?">
                    <!-- <span class="desc">Are you sure about that?</span> -->
                </div>
                <div class="right">
                    <h4 style="margin-top: 10px;">Original</h4>
                    <p>Zǎoshang hǎo zhōngguó xiànzài wǒ yǒu BING CHILLING wǒ hěn xǐhuān BING CHILLING dànshì sùdù yǔ jīqíng 9 bǐ BING CHILLING sùdù yǔ jīqíng sùdù yǔ jīqíng 9 wǒ zuì xǐhuān suǒyǐ…xiànzài shì yīnyuè shíjiān zhǔnbèi 1 2 3 liǎng gè lǐbài yǐhòu sùdù yǔ jīqíng 9 ×3 bùyào wàngjì bùyào cu òguò jìdé qù diànyǐngyuàn kàn sùdù yǔ jīqíng 9 yīn wéi fēicháng hǎo diànyǐng dòngzuò fēicháng hǎo chàbùduō yīyàng BING CHILLING zàijiàn</p>
                    <button type="button" onclick="playAudio('/assets/audio/bingchilling.mp3', '1.0')"><i class="material-icons">play_arrow</i></button>
                    <h4>Deutsch</h4>
                    <p>BING CHILLING</p>
                </div>
            </div>
        </div>

        <div class="section">
            <h2 style="border-color: var(--random-color-3);">Beliebteste Produkte</h2>
            <div class="products">
                <a href="#" class="product">
                    <div class="previewImg" style="background-image: url('/assets/img/hamburger.png');"></div>
                    <span>Crazy Hamburger Kochvideo</span>
                    <span class="price">
                        4000
                        <img src="/assets/img/socialcredit.svg">
                    </span>
                </a>

                <a href="#" class="product">
                    <div class="previewImg" style="background-image: url('/assets/img/hamburger.png');"></div>
                    <span>Crazy Hamburger Kochvideo</span>
                    <span class="price">
                        4000
                        <img src="/assets/img/socialcredit.svg">
                    </span>
                </a>

                <a href="#" class="product">
                    <div class="previewImg" style="background-image: url('/assets/img/hamburger.png');"></div>
                    <span>Crazy Hamburger Kochvideo</span>
                    <span class="price">
                        4000
                        <img src="/assets/img/socialcredit.svg">
                    </span>
                </a>

                <a href="#" class="product">
                    <div class="previewImg" style="background-image: url('/assets/img/hamburger.png');"></div>
                    <span>Crazy Hamburger Kochvideo</span>
                    <span class="price">
                        4000
                        <img src="/assets/img/socialcredit.svg">
                    </span>
                </a>

                <a href="#" class="product">
                    <div class="previewImg" style="background-image: url('/assets/img/hamburger.png');"></div>
                    <span>Crazy Hamburger Kochvideo</span>
                    <span class="price">
                        4000
                        <img src="/assets/img/socialcredit.svg">
                    </span>
                </a>

                <a href="#" class="product">
                    <div class="previewImg" style="background-image: url('/assets/img/hamburger.png');"></div>
                    <span>Crazy Hamburger Kochvideo</span>
                    <span class="price">
                        4000
                        <img src="/assets/img/socialcredit.svg">
                    </span>
                </a>

                <a href="#" class="product">
                    <div class="previewImg" style="background-image: url('/assets/img/hamburger.png');"></div>
                    <span>Crazy Hamburger Kochvideo</span>
                    <span class="price">
                        4000
                        <img src="/assets/img/socialcredit.svg">
                    </span>
                </a>

                <a href="#" class="product">
                    <div class="previewImg" style="background-image: url('/assets/img/hamburger.png');"></div>
                    <span>Crazy Hamburger Kochvideo</span>
                    <span class="price">
                        4000
                        <img src="/assets/img/socialcredit.svg">
                    </span>
                </a>

                <a href="#" class="product">
                    <div class="previewImg" style="background-image: url('/assets/img/hamburger.png');"></div>
                    <span>Crazy Hamburger Kochvideo</span>
                    <span class="price">
                        4000
                        <img src="/assets/img/socialcredit.svg">
                    </span>
                </a>

                <a href="#" class="product">
                    <div class="previewImg" style="background-image: url('/assets/img/hamburger.png');"></div>
                    <span>Crazy Hamburger Kochvideo</span>
                    <span class="price">
                        4000
                        <img src="/assets/img/socialcredit.svg">
                    </span>
                </a>
            </div>
        </div>
    </main>

    <%- include("partials/footer.ejs") %>

    <script src="/assets/js/assets.js"></script>
</body>
</html>