<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fleischgarten</title>
    <meta name="author" content="John Cena">
    <meta name="description" content="BING CHILING!">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="//assetsimg/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/assets/img/favicon-256x256.png">

    <!--<meta property="og:title" content="Jan Straßburgers Homepage">
    <meta property="og:site_name" content="Jan Straßburgers Homepage">
    <meta property="og:url" content="https://strassburger.org/">
    <meta property="og:description" content="Archiv - Meine Homepage mit meinen Projekten, wie OktoBot, KartoffelBot oder KartoffelMC und Kontaktmöglichkeiten.">
    <meta property="og:type" content="website">-->
    <meta property="og:image" content="/assets/img/banner.png">

    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
    <nav>
        <a class="title" href="/">
            <img src="/assets/img/logo.png">
            <h1>Fleischgarten</h1>
        </a>
        <div class="links">
            <a href="#">Shop</a>
            <a href="#">SC-Test</a>
            <a href="/login">
                <svg width="64px" height="64px" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13 12L21 12" stroke="#fefefe" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M16 15L13.087 12.087V12.087C13.039 12.039 13.039 11.961 13.087 11.913V11.913L16 9" stroke="#fefefe" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19" stroke="#fefefe" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </a>
        </div>
    </nav>

    <main>

    </main>

    <script src="/assets/js/assets.js"></script>
</body>
</html>